.main {
  display: grid;
  grid-template-columns: 1fr 48rem 1fr;
}
.title {
  font-size: clamp(1.125rem, 0.943rem + 0.91vw, 1.625rem);
}

.content iframe {
  width: 100%;
}

.content ul li a {
  margin: 6px 0;
  padding: 0;
  color: #2674cf;
  background-color: inherit;
}

.content strong code {
  color:#475569;
}

@media screen and (max-width: 1400px) {
  .main {
    grid-template-columns: 0% 70% 1fr;
  }
}
@media screen and (max-width: 1000px) {
  .main {
    display: block;
  }
}
