.title {
  font-size: clamp(1.125rem, 0.75rem + 2vw, 1.75rem);
}
.content h2 {
font-size:clamp(1.5rem, 1.35rem + 0.8vw, 1.75rem);
font-weight:900;
letter-spacing: .04em;
line-height: 1.4em;
margin: 2.15em 0 1rem;
}

.content h3 {
font-size:clamp(1.25rem, 1.1rem + 0.8vw, 1.5rem);
font-weight:900;
letter-spacing: .04em;
line-height: 1.3em;
margin: 2.06em 0 1rem;
}
.content h4,
.content h5 {
font-size:clamp(1rem, 0.925rem + 0.4vw, 1.125rem);
font-weight:700;
letter-spacing: .04em;
line-height: 1.3em;
margin: 1.8em 0 1rem;
}
.content p {
font-size:clamp(0.938rem, 0.9rem + 0.2vw, 1rem);
line-height: 1.8em;
letter-spacing: .01em;
margin-bottom:1rem;
}
.content strong {
font-weight:bolder;
background:linear-gradient(transparent 60%, #ff6 60%);
}
.content a {
display:inline-block;
font-weight:700;
padding:16px 32px;
border-radius:8px;
background-color:#2674cf;
color:#fff;
margin:16px 0;
}
.content pre {
background-color:#1a2638;
overflow: scroll;
padding:32px 24px;
border-radius:12px;
margin:16px 0;
}
.content code {
  color:#fff;
  font-size:14px;
  line-height:2em;
}
